@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.width_1440px {
  width: 1440px;
}
.container {
  width: 1140px;
}
.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donwloadButton {
  text-decoration: none;
  color: black;
  padding: 17px 25px;
  border: 1px solid black;
  border-radius: 6px;
}
.logo {
  font-size: 28px;
}

.flexing {
  display: flex;
  justify-content: center;
}

/*  style banner =================================*/

.titleBanner {
  width: 998px;
  font-size: 48px;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.width_1440px {
  width: 1440px !important;
}
.banner {
  border-radius: 5px;
  padding: 44px 0px;
  background-image: url("./assets/Hero-bg.png");
  background-size: cover;
}
.descriptionColor {
  color: gray;
  text-align: center;
}
.flexBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.descriptionBanner {
  text-align: center;
  width: 898px !important;
  line-height: 25px;
}
.buttonContact {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  padding: 21px 24px;
  font-weight: 600;
}

/* tiltle design for all section */
.tilteHederTitle {
  text-align: center;
  margin-bottom: 20px;
}
.titleHeader {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.titleHeaderDec {
  line-height: 20px;
  margin-bottom: 50px;
  line-height: 1.5;
  width: 898px;
  color: rgb(122, 122, 122);
}

/* informationh section design =================== */
.informations {
  border-radius: 35px;
  padding: 80px 97px;
  margin: 80px 0px;
  background-color: rgb(243 243 243 / 41%);
}

.informationCards {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.cards {
  height: 240px;
  width: 946px;
  padding: 48px;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.descriptionCard {
  width: 477px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionCard > h1 {
  font-size: 24px;
}

.descriptionCard > button {
  width: 183px;
  background: white;
  border-radius: 5px;
  padding: 12px 20px;
}

.descriptionCard > button > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.descriptionCard {
  height: 220px;
  width: 477px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.descriptionCard > h1 {
  font-size: 24px;
  width: 380px;
}

.descriptionCard > button {
  width: 183px;
  background: white;
  border-radius: 5px;
  padding: 12px 20px;
}

.descriptionCard > button > a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.descriptionCard > p {
  line-height: 2;
}

.card2 {
  justify-content: start !important;
  gap: 32px !important;
}

/* intro video styleing */

.videoIntro {
  padding: 32px;
  border: 1px solid gray;
  width: 1076px;
  height: 550px;
  border-radius: 20px;
}
.videoIntroforYoutube {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/*  CUREENT TARGET DESIGN */
.currentTarget {
  padding: 50px 0;
}
.cardsDiv {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-direction: row;
}
.cardDiv:first-child {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  padding: 40px;
}
.cardDiv:nth-child(2) {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.cardDiv:last-child {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
  padding: 40px;
}
.cardDiv {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.cardDiv > a {
  font-weight: bold;
  color: black;
}
.cardDiv > img {
  width: 40px;
}
.cardDiv > p {
  color: gray;
}

/* contact section design================== */

.bg-image {
  background: url("./assets/handshake.jpg");

  width: 1140px;
  height: 314px;
  border-radius: 10px;
  background-size: cover;
  background-position-y: center;
}

section#contact {
  padding: 40px;
}

.bg-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

bg-image > h1 {
  color: white !important;
}

.bg-image h1 {
  color: white;
}

.bg-image p {
  color: gray;
  margin: 25px 0;
}

.submit > input {
  padding: 16px;
  border-radius: 8px;
  font-size: 18px;
  width: 328px;
  outline: none;
  border: none;
}

.submit > button {
  border: none;
  padding: 16px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
}

.footer_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_main > span {
  font-weight: bold;
}

.icons {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
}

.footer_flex {
    padding: 32px 150px;
    background: rgba(13, 19, 33, 0.03);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
