@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}
.container {
  width: 1140px;
}
.nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donwloadButton {
  text-decoration: none;
  color: black;
  padding: 17px 25px;
  border: 1px solid black;
  border-radius: 6px;
}
.logo {
  font-size: 28px;
}

.flexing {
  display: flex;
  justify-content: center;
}

/*  style banner =================================*/

.titleBanner {
  width: 998px;
  font-size: 48px;
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner {
  border-radius: 5px;
  width: 1440px;
  padding: 44px 0px;
  background-image: url("./assets/Hero-bg.png");
  background-size: cover;
}
.descriptionColor {
  color: gray;
  text-align: center;
}
.flexBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.descriptionBanner {
  text-align: center;
  width: 898px !important;
  line-height: 25px;
}
.buttonContact {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  padding: 21px 24px;
  font-weight: 600;
}

/* tiltle design for all section */
.tilteHederTitle {
  text-align: center;
  margin-bottom: 20px;
}
.titleHeader {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.titleHeaderDec {
  line-height: 20px;
  width: 898px;
  color: rgb(122, 122, 122);
}

